/*/////////////////////////// header*/
.header {
  width: 100%;
  height: 100vh;
  background-image: url('../images/header_bg_img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.header_bg_block {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
/*///////////////////////////// header search panel*/
.header_panel {
  width: 70%;
  height: 200px;
  margin: auto;
}
.search_panel {
  width: 80%;
  margin: auto;
}
/*////////////////////////////// search panel input */
.search_panel_input_searching,
.search_panel_input_category {
  height: 50px;
  width: 100%;
  padding: 5px 15px;
  font-size: 20px;
  outline: inherit;
  border: none;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: #000;
  font-weight: bold;
}
::-moz-placeholder {
  color: #000;
  font-weight: bold;
}
:-moz-placeholder {
  color: #000;
  font-weight: bold;
}
:-ms-input-placeholder {
  color: #000;
  font-weight: bold;
}

/*///////////////////////////// search panel filter*/
.search_panel_filter {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
.search_panel_input_category {
  padding: 0;
  width: 40%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
.dropdown_content {
  border-radius: 30px;
  margin-top: 2px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
.dropdown_content_items:hover {
  color: #f3f1f2;
  padding: 0 20px;
  border-radius: 50px;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.5);
}
.dropdown_selected_content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 0 20px;
}
/*///////////////////////////// search panel button container*/
.header_search_panel_button_container {
  padding: 20px 0;
  text-align: center;
}
